name: ci

on:
  workflow_dispatch:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Show repo files
        run: |
          echo "PWD=$(pwd)"
          ls -la
          find . -maxdepth 3 -type f -name "pom.xml" -print

      - name: Set up Java 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build + test (Maven)
        run: mvn -B clean verify

      - name: Upload JAR artifact
        uses: actions/upload-artifact@v4
        with:
          name: students-orders-humba
          path: target/students-orders-humba.jar


